html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

.home{
  color: #020618;
  background-color: #020618;
}

.home h1{
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #020618;
  color: white;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.assetGrid {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.assetCard {
  border: 2px solid white;
  background-color: #111827;
  color: white;
  padding: 1rem;
  border-radius: 12px;
}